html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.navbar{
  min-height: 80px;
}

.navbar-brand{
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.logo{
  padding: 5px 0px;
}

.navbar-toggle{
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px){
  .navbar-nav > li > a{
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

.footer1{
  color:#b2b2b2;
  background:pink;
  position:absolute;
  bottom:0;
  width:100%;
  height:50px;   /* Height of the footer */
  background:#222;
  margin-top:10px;
  padding-top:10px;
}

.footer-nav{
  text-align: right;
  list-style: none;
}

.footer-nav li{
  display: inline;
}

.footer1 li:not(:first-child):before{
  padding:0px 10px;
  content: '|';
}

.footer-nav a{
  color:#b2b2b2;
}

.footer-nav a:hover{
  color:white;
  text-decoration: none;
}

.container1{
  min-height: 100%;
  position: relative;
}
