/*troubleshooter*/
*{
  border-style: none;
  border-width: 1px;
  margin:0px;
}

body{
  height: auto;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: #313131;
  background: #e9e9e9;
  text-decoration: none;
}

header a{
  display: flex;
  flex-direction: column;
  color:#313131;
}
header h4{
  font-size: 30px;
  font-weight: bold;
}

table{
  border-collapse: separate;
  padding: 20px;
}

p{
  font-size: 16px;
  line-height: 25px;
}

nav li{
  font-size: 18px;
  display: inline-block;
  line-height: normal;
  padding-left: 20px;
  padding-top: 20px;
}

.header{
  width: 100%;
  height: 150px;
}

.fb{
  width: 27px;
  position: relative;
  top: 6px;
}

.container{
  max-width: 1170px;
  width: 96%;
  margin: auto;
  overflow: hidden;
}
.first{
  width: 100%;
  display: block;
  height: 880px;
}
.welcome{
  padding: 30px;
  padding-top:100px;
}

.welcome h1{
  font-size: 60px;
  font-weight: normal;
}

.levels{
  box-shadow: 0px 5px 12px rgba(0,0,0,0.3);
  margin-bottom: 30px;
  padding: 0;
}

.levels p{
  font-size: 14px;
}

.hr1{
  border: 1px none #579bf8;
  width: 100%;
  margin: 0;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.3);

}

.logo{
  padding-bottom: 5px;
}
.photo1{
  padding: 0px;
  margin-top: 0px;
}

.dropdown-menu{
  width: 200px;
  padding: 20px;
}

.dropdown-menu li{
  font-size: 14px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 0px;
}

.dropdown-menu i{
  padding-right: 5px;
}
.content1{
  order:1;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,165,78,1));
}

.content2{
  order:2;
  padding-left: 0px;
  padding-right: 0px;
}

.content3{
  order:3;
  background: #f8f8f8;
}

.content4{
  order:4;
  padding-bottom: 70px;
}

.content5{
  height: 30px;
  order:5;
  background: #ffa54e;
}

.courses{
  width: 360px;
  margin: 15px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.course-pic{
  border-radius: 50%;
  margin-right: 20px;
}

.course-link i, .course-link a{
  margin-top:10px;
  color: #acacac;
  display: inline-block;
}

.footer1{
  order: 6;
  background: #676767;
  height: 52px;
  width: 100%;
  overflow: hidden;
}
